// =================================================================================================
// A collection of helper/utility functions
//
// =================================================================================================

/*

  data ........................................ (fn) Creates a straightforward data attribute selector
  list-reverse ................................ (fn) Reverses the values in a list
  px-to-em/em ................................. (fn) Converts a fixed px value to a relative em
  px-to-rem/rem ............................... (fn) Converts a fixed px value to a relative root em
  strip-unit .................................. (fn) Strips the unit from a number

  TODO: create functions to convert strings to numbers and vica versa
  TODO: create some basic append en prepend string functions
  TODO: create a function to test if a list contains a group of values
  TODO: create a helper for asset paths

*/

@import 'data';
@import 'list-reverse';
@import 'px-to-em';
@import 'px-to-rem';
@import 'strip-unit';
