///
/// @name background-fade-in
/// @description Transitions which fades a background-color in
///
/// @param {Color} $color - the background color to fade to
/// @param {Number} $duration - the length of time the transition should run
/// @param {Number} $delay - the time to delay the transition before it start
///
/// @example http://sassmeister.com/gist/f694a2552a7ca629c63e
///

@mixin background-fade-in($color, $duration: $transition-duration, $delay: $transition-delay) {
  @if $transition-use-background-fade-in == true {
    background-color: $color;
    overflow: hidden;
    transition-delay: $delay;
    transition-duration: $duration;
  }
}
