///
/// @name background-sweep-radial
/// @description Hover animation which sweeps a background color from the center outwards
///
/// @param {Color} $color - the background color to fade to
/// @param {Number} $duration - the length of time the transition should run
/// @param {Number} $delay - the time to delay the transition before it start
///
/// @example
///

@mixin background-sweep-radial($color, $duration: $transition-duration, $delay: $transition-delay) {
  @if $transition-use-background-sweep-radial == true {
    overflow: hidden;
    position: relative;
    transform: translateZ(0);

    &:before {
      background-color: $color;
      border-radius: 100%;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transform: scale(0);
      transform-origin: 50% 50%;
      transition-delay: $delay;
      transition-duration: $duration;
      transition-property: transform;
      z-index: -1;
    }

    &:hover,
    &:focus,
    &:active {
      &:before {
        transform: scale(2);
      }
    }
  }
}
