///
/// @name border-hover
/// @description Hover animation which reveals a border
///
/// @param {Color} $color - the border color to reveal
/// @param {Number} $width - the border width
/// @param {Number} $duration - the length of time the transition should run
/// @param {Number} $delay - the time to delay the transition before it starts
///
/// @example http://sassmeister.com/gist/8af6f8449497ddbfe27d
///

$animation-use-border-hover: false !default;

@mixin border-hover($color, $width: 1px, $duration: $transition-duration, $delay: $transition-delay) {
  @if $animation-use-border-hover == true {
    overflow: hidden;
    position: relative;
    transform: translateZ(0);

    &:before {
      border-color: $color;
      border-style: solid;
      border-width: 0;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition-delay: $delay;
      transition-duration: $duration;
      transition-property: border-width;
      z-index: -1;
    }


    &:hover,
    &:focus,
    &:active {
      &:before {
        border-width: $width;
        transform: translateY(0);
      }
    }
  }
}
