///
/// @name underline-sweep-left
/// @description Hover animation which sweeps a bottom border from right to left
///
// @param {Color} $color - the border color to fade to
/// @param {Number} $width - the border width
/// @param {Number} $duration - the length of time the transition should run
/// @param {Number} $delay - the time to delay the transition before it start
///
/// @example http://sassmeister.com/gist/d4082f2827a2c3d0f1e5
///

@mixin underline-sweep-left($color, $width: 1px, $duration: $transition-duration, $delay: $transition-delay) {
  @if $animation-use-underline-sweep-left == true {
    overflow: hidden;
    position: relative;
    transform: translateZ(0);

    &:before {
      background-color: $color;
      bottom: 0;
      content: '';
      height: $width;
      left: 100%;
      position: absolute;
      right: 0;
      transition-delay: $delay;
      transition-duration: $duration;
      transition-property: left;
      z-index: -1;
    }

    &:hover,
    &:focus,
    &:active {
      &:before {
        left: 0;
      }
    }
  }
}
