///
/// @name base-vertical-rhythm
/// @description Set the base vertical rhythm
/// This mixin sets the vertical baseline on the html element. Setting the font-size and line-height in pixels
///
/// @param {Number}  $font-size    - the base font size
/// @param {Number}  $line-height  - the base line height
/// @param {Boolean} $use-relative - use a relative font size
///
/// @example http://sassmeister.com/gist/4678b89874466d2a6fb0
///
@mixin base-vertical-rhythm($font-size, $line-height-ratio, $use-relative: true) {

  $exception: false;
  $browser-default-font-size: 16px;

  // Error checking
  @if type-of($font-size) != 'number' {
    @warn "Type Error: Expected a $font-size of type 'number', provided (#{type-of($font-size)}) #{$font-size}";
    $exception: true;
  }

  @if type-of($line-height-ratio) != 'number' {
    @warn "Type Error: Expected a $line-height-ratio of type 'number', provided (#{type-of($line-height-ratio)}) #{$line-height-ratio}";
    $exception: true;
  }

  // Logic
  @if not unitless($line-height-ratio) {
    $line-height-ratio: $line-height-ratio/$font-size;
  }

  @if not $exception {

    @if $use-relative {
      $font-size: 100% * $font-size/$browser-default-font-size;
    }

    font-size: $font-size;
    line-height: $line-height-ratio;
  }
}
