///
/// @name vanish-out
/// @description Hiding an element zooming in and vanishing it out
///
/// @param {Number} $duration - the length of time the animation should run
/// @param {Number} $delay - the time to delay the animation before it starts
/// @param {Number} $count - the number of times an animation should run
///
/// @example http://sassmeister.com/gist/33e93515f306800b11c2
///

@mixin vanish-out-animation($duration: $animation-duration, $delay: $animation-delay, $count: $animation-iterations) {
  @if $animation-use-vanish-out == true {
    @at-root {
      @keyframes vanishOut {
        0% {
          opacity: 1;
          transform: scale3d(1, 1, 1);
        }

        100% {
          opacity: 0;
          transform: scale3d(2, 2, 2);
        }
      }
    }

    animation-delay: $delay;
    animation-duration: $duration;
    animation-fill-mode: forwards;
    animation-iteration-count: $count;
    animation-name: vanishOut;
    transform-origin: 50% 50%;
  }
}
