///
/// @name slide-out-right
/// @description Hiding animation elastically sliding out an element to the right
///
/// @param {Number} $duration - the length of time the animation should run
/// @param {Number} $delay - the time to delay the animation before it start
/// @returns {Number} $count - the number of times an animation should run
///
/// @example http://sassmeister.com/gist/69fea437691cce5ba0a3
///

@if $animation-use-slide-out-right == true {
  @keyframes slideOutRight {
    20% {
      opacity: 1;
      transform: translate3d(-20px, 0, 0);
    }

    100% {
      opacity: 0;
      transform: translate3d(2000px, 0, 0);
    }
  }
}

@mixin slide-out-right($duration: $animation-duration, $delay: $animation-delay, $count: $animation-iterations) {
  @if $animation-use-slide-out-right == true {
    animation-delay: $delay;
    animation-duration: $duration;
    animation-iteration-count: $count;
    animation-name: slideOutRight;
  }
}
