
// Base
// --------------------------------------------------------------

// Body
$body-background-color      : $color-white !default;
$body-margin                : 0 !default;
$body-padding               : 0 !default;


// Horizontal rule
$hr-border-color            : $color-primary !default;
$hr-border-width            : 1px !default;
$hr-margin                  : rows(1) !default;
