
// Forms
// --------------------------------------------------------------

// form
$form-legend-text-color  : $text-color-muted !default;
$form-legend-text-size   : $font-size-sm !default;

// inputs
$input-padding           : $padding-xs !default;
$input-text-size         : $text-size !default;

// labels
$input-label-text-color  : inherit !default;
$input-label-text-face   : inherit !default;

// textarea
$textarea-height         : rows(3) !default;
