
// Tables
// --------------------------------------------------------------

$table-background-color      : $color-white !default;
$table-border-layout         : collapse !default;
$table-border-spacing        : 0 !default;
$table-width                 : 100% !default;

$table-cell-alignment        : top left !default;
$table-cell-border-color     : $color-gray !default;
$table-cell-border-width     : 1px !default;
$table-cell-background-color : $table-background-color !default;
$table-cell-padding          : $padding-sm $padding-md !default;
$table-cell-text-face        : inherit !default;
$table-cell-text-size        : inherit !default;

$table-head-alignment        : bottom left !default;
$table-head-padding          : $padding-md !default;
$table-head-border-color     : $color-gray !default;
$table-head-border-width     : 3px !default;
$table-head-background-color : $color-off-white !default;
$table-head-text-face        : inherit !default;
$table-head-text-size        : inherit !default;

