
// Typography
// --------------------------------------------------------------

// Quotes
$quotes-english               : '\2018' '\2019' '\201c' '\201d';
$quotes-american              : '\201c' '\201d' '\2018' '\2019';
$text-quote-style             : $quotes-english !default;


// Font families
$font-family-monospace        : stack(consolas) !default;
$font-family-serif            : stack(georgia) !default;
$font-family-sans-serif       : stack(helvetica) !default;


// Baseline
$base-font-size               : 16px !default;
$base-line-height-relative    : ratio(perfect-fifth) !default;
$base-line-height-absolute    : $base-font-size * $base-line-height-relative;
$base-leading                 : $base-line-height-relative * 1rem !default;


// Weights
$font-weight-black            : 800;
$font-weight-bold             : 700;
$font-weight-semibold         : 600;
$font-weight-normal           : 400;
$font-weight-light            : 200;


// Paragraph
$text-color                   : palette($color-gray, dark) !default;
$text-weight                  : $font-weight-normal !default;
$text-face                    : $font-family-sans-serif !default;
$text-size                    : $base-font-size !default;
$text-color-muted             : palette($color-gray, lighter) !default;


// Anchors
$link-text-color              : #41b6d6 !default;
$link-hover-text-color        : darken($link-text-color, 15%) !default;
$link-text-decoration         : none !default;
$link-hover-text-decoration   : underline !default;


// Headings
$heading-text-color           : $text-color !default;
$heading-text-weight          : $font-weight-bold !default;
$heading-line-height-relative : ratio(major-third) !default;
$heading-text-face            : inherit !default;
$available-headings           : headings(1,3) !default;


// Modular Scale settings
$ms-base                      : $base-font-size;
$ms-ratio                     : $heading-line-height-relative;


// Sizes
$font-size-sm                 : even-px(modular-scale(-1)) !default;
$font-size-md                 : even-px(modular-scale(0)) !default;
$font-size-lg                 : even-px(modular-scale(1)) !default;

$font-size-h1                 : even-px(modular-scale(4)) !default;
$font-size-h2                 : even-px(modular-scale(3)) !default;
$font-size-h3                 : even-px(modular-scale(2)) !default;
$font-size-h4                 : even-px(modular-scale(1)) !default;

$font-size-h5                 : even-px(modular-scale(1)) !default;
$font-size-h6                 : even-px(modular-scale(1)) !default;
