///
/// @name block-right
/// @description Align a block-level element to the right without floating
/// @deprecated Convert to placeholder as soon as placeholder scoping issues are fixed.
///
/// @example http://sassmeister.com/gist/1950579de152b4ef631a
///
@mixin block-right($max-width: false) {

  $exception: false;

  @if $max-width and type-of($max-width) != 'number' {
    @warn "Type Error: Expected a $max-width of type 'number', provided #{type-of($max-width)} #{$max-width}";
    $exception: true;
  }

  @if not $exception {
    display: block;
    margin-left: auto;

    @if $max-width {
      max-width: $max-width;
    }
  }
}


///
/// @placeholder
/// @alias block-right
///
%block-right {
  @include block-right;
}
