
///
/// @name layout-model
/// @description Set the padding of margins of an element using a list or string
///
/// @requires {Function} list-to-str()
/// @param {String} $property           - the property to set the values on
/// @param {Number|List|Map} $values    - the values to set
///
/// http://sassmeister.com/gist/fdf22aa4fd1c27295346
///
@mixin layout-model($property, $value) {

  $exception: false;
  $property-options: margin, padding;

  // Error checking
  @if not index($property-options, $property) {
    @warn "Range Error: #{$property} was not found among valid options: #{$property-options}";
    $exception: true;
  }

  @if type-of($value) != 'number' and type-of($value) != 'list' and type-of($value) != 'map' {
    @warn "Type Error: Expected a $value of type 'number','list' or 'map', provided #{type-of($value)} #{$value}";
    $exception: true;
  }

  @if type-of($value) == 'list' and not function-exists(list-to-str) {
    @warn 'Reference Error: Requirement; list-to-str() not found';
    $exception: true;
  }

  // Logic
  @if not $exception {

    @if type-of($value) == 'number' {
      #{$property}: $value;

    } @else if type-of($value) == 'list' {
      #{$property}: list-to-str($value);

    } @else {
      @each $prop, $val in $value {
        #{$property}-#{$prop}: $val;
      }
    }
  }
}


// Had to change name to layout-model to prevent collision with Susy's layout() mixin
