///
/// @name rotate-in
/// @description Revealing animation rotating an element into view
///
/// @param {Number} $duration - the length of time the animation should run
/// @param {Number} $delay - the time to delay the animation before it start
/// @returns {Number} $count - the number of times an animation should run
///
/// @example http://sassmeister.com/gist/ccb768983a971abde5bc
///

@if $animation-use-rotate-in == true {
  @keyframes rotateIn {
    0% {
      opacity: 0;
      transform: rotate3d(0, 1, 0, -180deg);
    }

    100% {
      opacity: 1;
      transform: none;
    }
  }
}

@mixin rotate-in($duration: $animation-duration, $delay: $animation-delay, $count: $animation-iterations) {
  @if $animation-use-rotate-in == true {
    animation-delay: $delay;
    animation-duration: $duration;
    animation-fill-mode: both;
    animation-iteration-count: $count;
    animation-name: rotateIn;
    backface-visibility: visible;
  }
}
