///
/// @name palette
/// @description A specific tint or shade within a palette
/// Based on a specific scale, this function calculates a color adjustment for a given color
///
/// @requires {Function} tint
/// @requires {Function} shade
/// @param {Color} $color - the base color
/// @returns {Color} $shade
///
/// @example http://sassmeister.com/gist/13267d5819362a9a5640
///
@function palette($color, $shade: false) {

  $shade-options: lightest, lighter, light, dark, darker, darkest;

  // Error checking
  @if type-of($color) != 'color' {
    @warn "Type Error: Expected a $color of type 'color', provided #{type-of($color)} #{$color}";
    @return false;
  }

  @if type-of($shade) != 'string' {
    @warn "Type Error: Expected a $shade of type 'string', provided #{type-of($shade)} #{$shade}";
    @return false;
  }

  @if not index($shade-options, $shade) {
    @warn "Range Error: #{$shade} was not found among valid options: #{$shade-options}";
    @return false;
  }

  @if not function-exists(tint) {
    @warn 'Reference Error: Requirement tint() not found';
    @return false;
  }

  @if not function-exists(shade) {
    @warn 'Reference Error: Requirement shade() not found';
    @return false;
  }

  // Logic
  $shades: (
    light: (
      function: tint,
      value: 25%
    ),
    lighter: (
      function: tint,
      value: 50%
    ),
    lightest: (
      function: tint,
      value: 75%
    ),
    dark: (
      function: shade,
      value: 25%
    ),
    darker: (
      function: shade,
      value: 50%
    ),
    darkest: (
      function: shade,
      value: 75%
    )
  );

  $adjusted-color : map-get($shades, $shade);
  $fn             : map-get($adjusted-color, function);
  $val            : map-get($adjusted-color, value);

  @return call($fn, $color, $val);
}



///
/// @name swatch
/// @alias palette
///
@function swatch($args...) {
  @return palette($args...);
}
