///
/// @name overline-sweep-left
/// @description Hover animation which sweeps a top border from right to left
///
// @param {Color} $color - the border color to fade to
/// @param {Number} $width - the border width
/// @param {Number} $duration - the length of time the transition should run
/// @param {Number} $delay - the time to delay the transition before it starts
///
/// @example http://sassmeister.com/gist/b2e2d1ce5c7b55a2af22
///

$animation-use-overline-sweep-left: false !default;

@mixin overline-sweep-left-hover($color, $width: 1px, $duration: $transition-duration, $delay: $transition-delay) {
  @if $animation-use-overline-sweep-left == true {
    overflow: hidden;
    position: relative;
    transform: translateZ(0);

    &:before {
      background-color: $color;
      content: '';
      height: $width;
      left: 100%;
      position: absolute;
      right: 0;
      top: 0;
      transition-delay: $delay;
      transition-duration: $duration;
      transition-property: left;
      z-index: -1;
    }

    &:hover,
    &:focus,
    &:active {
      &:before {
        left: 0;
      }
    }
  }
}
