// Animation
// --------------------------------------------------------------

// Show animation
.show-animate {
  // scss-lint:disable ImportantRule
  opacity: 1 !important;
  visibility: visible !important;
}


// Hide animation
.hide-animate {
  // scss-lint:disable ImportantRule
  opacity: 0 !important;
  visibility: hidden !important;
}
