///
/// @name shake
/// @description In place animation which shakes an element horizontally
///
/// @param {Number} $duration - the length of time the animation should run
/// @param {Number} $delay - the time to delay the animation before it starts
/// @param {Number} $count - the number of times an animation should run
///
/// @example http://sassmeister.com/gist/ab212c7d75e21993ff04
///

$animation-use-shake: false !default;
@if $animation-use-shake == true {

  @keyframes shake  {
    0%, 100% {
      transform: none;
    }

    10%, 30%, 50%, 70%, 90% {
      transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
      transform: translate3d(10px, 0, 0);
    }
  }
}

@mixin shake-animation($duration: $animation-duration, $delay: $animation-delay, $count: $animation-iterations) {
  @if $animation-use-shake == true {
    animation-delay: $delay;
    animation-duration: $duration;
    animation-iteration-count: $count;
    animation-name: shake;
  }
}
