///
/// @name headings
/// @description Generate a list of headings
///
/// @param {Number} $from - the heading level to start from
/// @param {Number} $to - the heading level to stop at
/// @return {List} $headings - a list of headings
///
/// @example http://sassmeister.com/gist/a267f756f3c6c0cf0c3b
///
@function headings($from: 1, $to: 6) {

  // Error checking
  @if type-of($from) != 'number' {
    @warn "Type Error: Expected a $from of type 'number', provided #{type-of($from)} #{$from}";
    @return false;
  }

  @if type-of($to) != 'number' {
    @warn "Type Error: Expected a $to of type 'number', provided #{type-of($to)} #{$to}";
    @return false;
  }

  @if $from > $to or $from > 6 or not unitless($from) {
    @warn "Value Error: Incorrect value (#{$from}) supplied for $from";
    @return false;
  }

  @if $to < $from or $to > 6 or not unitless($to) {
    @warn "Value Error: Incorrect value (#{$to}) supplied for $to";
    @return false;
  }

  // Logic
  $headings: ();

  @for $i from $from through $to {
    $heading: h + $i;
    $headings: append($headings, $heading);
  }

  @return $headings;
}
