///
/// @name link-unstyled
/// @description Removes hyperlink styling from an element
/// @deprecated Convert to placeholder as soon as placeholder scoping issues are fixed.
///
/// @example http://sassmeister.com/gist/8a03e97b19d2d8c0fa0c
///
@mixin link-unstyled {
  color: inherit;
  cursor: text;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:outline {
    outline: none;
  }
}


///
/// @placeholder
/// @alias link-unstyled
///
%link-unstyled {
  @include link-unstyled;
}
