/**
 * @name weight
 * @description Decimal equivalent of a font weight
 *
 * @param   {String} $name  - the name
 * @returns {Number} $ratio - the decimal value
 *
 * @example http://sassmeister.com/gist/c58fae94c689f97ad0bb
 */

@function weight($name) {

  // Weights
  $weights: (
    'extra-black' : 900,
    'black'       : 800,
    'bold'        : 700,
    'semibold'    : 600,
    'medium'      : 500,
    'normal'      : 400,
    'book'        : 300,
    'light'       : 200,
    'thin'        : 100
  );

  $weight-options: map-keys($weights);

  // Error checking
  @if type-of($name) != 'string' {
    @warn "Type Error: Expected a $name of type 'string', provided (#{type-of($name)}) #{$name}";
    @return false;
  }

  @if not index($weight-options, $name) {
    @warn "Range Error: #{$name} was not found among valid options: #{$weight-options}";
    @return false;
  }

  // Logic
  $weight: map-get($weights, $name);
  @return $weight;
}
