///
/// @name invisible
/// @description Hide content only visually, but have it available for screen readers
///
/// @example http://sassmeister.com/gist/8055585ec1d8475941b4
///
@mixin invisible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

%invisible {
  @include invisible;
}
