///
/// @name gradient-radial
/// @description Create a uniform radial gradient
/// Creates a radial gradient from outside to inside with uniformly spaced color stops
///
/// @requires {Function} reverse-list()
/// @params {List} $color-stops - a list of colors
///
/// @example http://sassmeister.com/gist/51870f70870b7c101c1e
///
@mixin gradient-radial($color-stops) {

  $exception: false;

  @if type-of($color-stops) != 'list' {
    @warn "Type Error: Expected a $color-stops of type 'list', provided #{type-of($color-stops)} #{$color-stops}";
    $exception: true;
  }

  @if length($color-stops) < 2 {
    @warn "Syntax Error: Incorrect number of arguments provided. Provided #{length($color-stops)}, required min. 2";
    $exception: true;
  }

  @if length($color-stops) > 2 and type-of($color-stops) != 'map' {
    @each $color in $color-stops {
      @if type-of($color) != 'color' {
        @warn "Type Error: Expected a color of type 'color', provided #{type-of($color)} #{$color}";
        $exception: true;
      }
    }
  }

  @if not function-exists(reverse-list) {
    @warn 'Reference Error: Requirement; reverse-list() not found';
    $exception: true;
  }

  @if not $exception {
    $color-stops: reverse-list($color-stops);
    background-image: radial-gradient(circle, $color-stops);
  }
}
