// =================================================================================================
// Print
// Basic print styles adopted from the main.css in the HTML5 Boilerplate
//
// @source https://github.com/h5bp/html5-boilerplate/
// =================================================================================================


// scss-lint:disable ImportantRule, ColorVariable
@media print {

  * {
    background: transparent;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href^='#']:after,
  a[href^='javascript:']:after {
    content: '';
  }

  abbr[title]:after {
    content: ' (' attr(title) ')';
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  select {
    background: #fff !important;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100%;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
